/* Custom CSS here */
.btn-block {
  background-color: #b11d48;
  color: white;
  font-size: 2em;
  margin: auto;
}

.main {
  background: url('../img/guys.jpg') no-repeat top right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.countdown {
  width: 90%;
}

.faq-text {
  justify-self: start;
  align-self: start;
  position: relative;
  z-index: 10;
  top: 0;
  color:#fff;
  padding: 30px 50px 100px 50px;
  background-color:rgba(0,0,0,.7);
  max-width: 600px;
}

#faq-answer {
  font-size: 16px;
}
