/* Custom CSS here */
.btn-block {
  background-color: #b11d48;
  color: white;
  font-size: 2em;
  margin: auto;
}

.main {
  background-image: url('../img/guys.jpg');
  background-position: top right;
  background-size: cover;
  height: auto;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  top: 0;
  width: auto;
}

.main .container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.main .wrapped {
  margin-top: 7em;
}
